# Backup
_backup/

# Emacs
*~
\#*\#
*.elc
.dir-locals.el

# Scheme
*.fasl
*.com
*.so

# Clojure
.lein-*
.nrepl-*
target/
.cpcache/

# OS
.DS_Store
Thumbs.db

emmy
.agent-shell/
reference
.claude/settings.local.json

sdf/book
susskind/book

